<ion-header>
  <ion-toolbar>
    <ion-title>Giros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input></ion-input>

    
  
    <ion-label position="stacked">Cedula</ion-label>
    <ion-input type="number"></ion-input>

 
    <ion-label position="stacked">Nombre de la Persona</ion-label>
    <ion-input></ion-input>
  
 
    <ion-label position="stacked">cedula</ion-label>
    <ion-input type="number"></ion-input>
 
  
    <ion-label position="stacked">Numero De Telefono</ion-label>
    <ion-input type="number" value=""></ion-input>
 
 
    <ion-label position="stacked" >Monto</ion-label>
    <ion-input type="number" value=$></ion-input>
  </ion-item>
 
  <ion-button expand="block">Realizar Giro</ion-button>
  
</ion-content>
