<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Usuario</ion-label>
    <ion-input></ion-input>

    
  
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input></ion-input>

 
    <ion-label position="stacked">Apellido</ion-label>
    <ion-input></ion-input>
  
 
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="email"></ion-input>
 
  
    <ion-label position="stacked">Numero De Telefono</ion-label>
    <ion-input type="number" value=""></ion-input>
 
 
    <ion-label position="stacked" >Contraseña</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
 
  <ion-button expand="block">Registrar</ion-button>
  
</ion-content>
